{
  "extends":[],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugin": [
    "react"
  ],
  "rules": {
    // 0 - The rule has been disabled
    // 1 - The rule will emit a warning
    // 2 - The rule will emit an error
    // Disable `no-console` rule
    "no-console": 0,
    // Give a warning if identifiers contain underscores
    "no-underscore-dangle": 0,
    // Default to single quotes and raise an error if something
    // else is used
    "quotes": [2, "single"]
  }
}